body{
    background-color: rgba(0, 0, 0, 0.897);
}

table{
width: 1000px;
text-align: center;
height: 500px;
margin: auto;
border: 1px;
border-style: double;
background-color: rgb(199, 16, 184);
box-shadow: 0px 0px 111px purple;
}
td{
    padding: 20px;
    font-size: 20px;
    border-style:ridge;
    color:rgb(5, 19, 219);
    background-color: rgb(147, 153, 238);
}
th{
    padding: 25px;
    width: 400px;
    font-size: 20px;
    border-style:ridge;
    color: rgb(223, 12, 12);
    background-color: rgb(243, 160, 160);
}
img{
    width: 275px;
    height: 200px;
}